.panel-orange > .panel-heading {
	color: #eae2e2;
    background-color: #e05618;
    border-color: #e05618;
        border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-orange > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
  background-color: #ffd4c4;
}
.panel-orange > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-orange > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.panel-orange > .panel-heading .panel-title {
    font-size:13px;
}

.panel-orange > .panel-body{
	
	background-color: #e056184f;

}

.panel-other-account > .panel-body{
	    background-color: aliceblue;
}

.main-heading
{
	text-align: center;
    padding-bottom: 3px;
    font-size: 19px;
    font-weight: 300;
}


.orange{
	color: #e05618;
}

.panel-icon{
	    font-size: 47px;
}

.narration  h4
{
	border-bottom: 1px dashed #e6746c;
	font-weight: bold;
	padding-bottom: 3px;
}

.narration .sub-heading{
	color: #b1afa8;
    font-weight: bold;
    font-size: 13px;
}

 .centered-block{
	position: relative;
    height: 82px;
}

.centered-block > .vh-centerd
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.available-balance {
	font-size: 24px;
    text-align: right;
}
.available-balance h5{
	font-weight : bold;
}

.narration .value{
	font-size: 13px;
	font-weight: bold;
}

.center{
	text-align: center;
}

.right{
	text-align : right;
}


.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
       font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}

.form-group .checkbox label, .form-group label {
    font-size: 14px;
    color: #172b4d;
}
.form-control {
    font-size: 14px;
}

.form-input-helper {
    font-size: 13px;
    padding: 4px;
    color: #318f5c;
}

.form-group.read-only{
    background-color: #effbf0;
    padding: 8px;
}

.form-group hr{
    margin-top: 3px;
    margin-bottom: 1px;
}
.form-group .form-control {
   background-color: rgb(251, 251, 251);
}

.error, .red {
	color :red !important;
}
.sub-heading{
	    color: #bbc0c5;
    margin-top: -6px;
    padding-bottom: 2px;
        font-size: 13px;
}

.table-action-links{
    font-size: 12px;
    font-weight: bold;
}

.table > thead > tr > th {

    border-bottom: 1px solid #bce8f1;
}

.alice-blue-bg {
	background-color : #f0f8ff;
}
.section-heading{
	font-weight: bold;
	font-size: 13px;
	    text-transform: uppercase;
	color :  #009688;
}
.thrteen-px{
	font-size : 13px;
}
.narration > .row:hover{
	
	background-color : #eafbea;
	cursor: pointer;
}

body{
	font-size : 13px;
	
}

.table .approval > td{
	border : 0px;
}
.table .approval{
	border-bottom: 1px solid #deeeff;
    border-top: 1px solid #deeeff;
    font-size: 11px;
    background-color: #f2f8ff;

}

.table.blueheader > thead > tr{
	background-color: aliceblue;
}
  
 .text-toogle[aria-expanded=false]  {
  display: inline;
}
.text-toogle[aria-expanded=true]  {
  display: none;
}

.2pxpadding {
	   padding: 2px;
}

body{
    background: #fff;
}
.navbar, .dropdown-menu{
background:#09ba32;
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: rgba(154, 154, 154, 0.27);
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}



.navbar-toggle .icon-bar{
    color: #fff;
    background: #000000;
}

/* Credit to bootsnipp.com for the css for the color graph 
 ESTO SOLO ES PARA EL FORMULARIO DE LOGIN
*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.table.bluebackground{
	   background-color: aliceblue;
    border: 1px solid #90cafd;
}


.btn.btn-nm{
	
	    margin: 0px 1px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #1271b7;
    cursor: default;
    background-color: #ffffff; 
    border: 0px solid #ddd; 
    border-bottom: 3px solid transparent;
    border-bottom-color: #3f51b5;
    font-weight: bolder;
}
.nav-tabs {
    border-bottom: 1px solid #3f51b56b;
}
a, a:focus, a:hover {
    color: #1271b7e8;
}

.btn-group-sm>.btn, .btn-vsm {
    padding: 1px 7px;
    font-size: 11px;
}

p.grey{
	color: #999;
}

.transfer-list{
   	       padding-top: 10px;
	   padding-bottom: 15px;
	   border-bottom: 1px dotted #d2d2d2;
   }
   .transfer-list{
   	       
   	        cursor : pointer;
   }
    
    .transfer-list.stripped {
    	 background-color: #dcdcdc;
    }
   
   .transfer-list hr{
     margin-top: 4px;
   	 margin-bottom: 11px;
   }
   
   .transfer-heading{
   	font-size : 15px;
   }
   
   .data-caption{
       
  padding-right: 4px;
  padding-left: 4px;
   }
   .data-caption.yellow{
    	background-color: yellow;
   }
   .data-caption.green{
background-color: #20c327;
color: white;
   }
   
   .topsummary{
   padding:0px !important;
   }
   .tablesummary{
   margin-bottom:1px !important;
   }
   .tophr{
   margin-top:42px !important;
   }
   .balheader{
       padding: 0px !important;
    padding-top: 5px !important;
   }
   .tableNtnx{
    max-height: 300px !important;
    overflow-y: auto !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
   font-size:10px !important;
   }
  