.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 0.5s ease;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

.profile-image {
  width: 30px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.bg-extended {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ddd;
  min-width: 100%;
  height: 100%;
  display: table;
}

.align-vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.well-heading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
}

.well-heading h1 {
  color: #FFF;
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.well-body {
  margin: 150px 30px 30px 30px;
}

.three-dots-row-spinner {
  background-color: #009688;
  width: 50px;
  height: 50px;
}

.social-icons {
  margin: 20px;
}

.social-icons a {
  margin-right: 5px;
}

.social-icons .fa-linkedin {
  color: #0085AE;
}

.social-icons .fa-github {
  color: #070709;
}

.social-icons .fa-twitter {
  color: #32CCFE;
}

.social-icons .fa-wordpress {
  color: #21759b;
}

.mat-icon {
  font-size: inherit;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
ul.date-list{
	padding-left: 0px;
}
.date-list li{
    list-style: none;
}
.date-list li span{
	float : right;
}
.section-header{
	margin-top: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.text-block{
    word-wrap: break-word;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
